* text=auto

*.sln text eol=crlf
*.csproj text eol=lf
*.vcxproj text eol=lf
*.props text eol=lf
*.targets text eol=lf
*.cs text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.xaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.dll binary
*.exe binary
*.pdb binary
*.lib binary
*.exp binary
*.ilk binary
